body{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    border-bottom: 2px solid #0000000d;
    

    h1{
        font-size: 24px;
        font-weight: 600;
        line-height: 33px;
    }
    button{
        background: transparent;
        border: 0;
        font-weight: 500;
        font-size: 21px;
        line-height: 32px;
        img{
            margin-left: 10px;
        }
    }
}
.user{
    text-align: center;
    padding: 120px 285px 132px;
    border-bottom: 1px solid #0000000d;

    h1{
        font-weight: 500;
        font-size: 52px;
        line-height: 63px;
        margin: 20px 0;
    }
    p{
        margin: 0;
        font-weight: 500;
        font-size: 21px;
        line-height: 32px;
        color: #686868;
    }
}
.project{
    text-align: center;
    padding: 120px 285px 60px;
    h1{
        font-weight: 500;
        font-size: 48px;
        line-height: 63px;
        margin: 0 0 20px 0;
    }
    p{
        font-weight: 500;
        font-size: 21px;
        line-height: 32px;
    }
}
.karts{
    padding: 0 133px 120px;
    p{
        font-weight: 400;
        font-size: 21px;
        line-height: 29px;
        margin: 20px 0 10px;
    }
    h1{
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        margin: 0;
        width: 500px;
    }
    .kart{
        margin-bottom: 60px;
    }
}
.btn-image{
    width: 25.96px;
height: 25.96px;
}

.bnt-com{
    padding: 0px;
    background: transparent;
    border: none; 
    font-size: 52px; 
    margin-bottom: 20px;
}
.button{
    margin-right: 30px;
    padding: 0px;   
    background: transparent;
    border: none;
    text-align: center;
    font-size: 21px;  
}
.body{
    box-sizing: border-box;
    padding: 120px 105px;
    display: flex;
    align-items: baseline;;
    flex-wrap: wrap;
    .text-my{
      margin-bottom: 60px;
        font-weight: 500;
        font-size: 48px;
    }
    .left-info{
        margin-left: auto;
        .title-resume{
            font-size: 21px;
            margin-right: 10px;
        }
        .image-icon{
            vertical-align: 0%;
        }
    }
    .row{
        justify-content: space-around;
    .card-1{
       
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        padding-top: 60px;
        margin-bottom: 60px;
        .text-set{
            font-weight: 500;
            font-size: 36px;   
        }
        .tiltle-lorem{
font-weight: 500;
font-size: 21px;
line-height: 32px;
color: #686868;

        }
    }
    .cardbot{
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        padding-bottom: 60px; 
    }
}

.info{
    padding-left: 105px;
    width: 600px;
    .title-touch{
        font-size: 28px;
        line-height: 40px; 
        margin-bottom: 20px;

    }
    

}
}