body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.0509803922);
}
header h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}
header button {
  background: transparent;
  border: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
}
header button img {
  margin-left: 10px;
}

.user {
  text-align: center;
  padding: 120px 285px 132px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0509803922);
}
.user h1 {
  font-weight: 500;
  font-size: 52px;
  line-height: 63px;
  margin: 20px 0;
}
.user p {
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  color: #686868;
}

.project {
  text-align: center;
  padding: 120px 285px 60px;
}
.project h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 63px;
  margin: 0 0 20px 0;
}
.project p {
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
}

.karts {
  padding: 0 133px 120px;
}
.karts p {
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  margin: 20px 0 10px;
}
.karts h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  margin: 0;
  width: 500px;
}
.karts .kart {
  margin-bottom: 60px;
}/*# sourceMappingURL=main.css.map */